.root {
    -fx-background-color: #556B2F;
}

.button {
    -fx-background-color: linear-gradient(#FFD700, #1E90FF);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}

#bold-label {
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: #FDF5E6;
}

.menu-bar {
    -fx-background-color: #DEB887;
}
